@use '../abstracts/variable' as *;

footer {
  .collapse:not(.show){
    display: block;
  }

  .icon { 
    color: $data-color-disabled-text;
    svg {
      width: 40px; 
      height: 40px;
      margin: .5em;
      fill: #fff;
      path {
        fill: #fff;
      }
    }
  }
  
  .white_color{
    fill: #fff;
  }

  .py-5{
    @media screen and (max-width:575px) {
      padding-top: 1rem!important;
    padding-bottom: 2rem!important;
    }
  }
}