
@use '../abstracts/variable' as *;
@use '../base/typography' as *;

#navbar_top {
  transition: .25s ease-out;
}
.navbar_top{
  background-color: $constWhite;
  box-shadow: 0px 0 10px rgba(var(--shadow-rgb), 0.1);
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}